
.new-chat-icon{
    padding: 10px;
    border-radius: 50%;
}
.new-chat-icon:hover{
    background-color: white;
    cursor: pointer;
}
.sidebar-search-input{
    height: 2.5rem;
}
.new-chat-icon-selected{
    background-color: white;
}