/* .main-container {
  background-image: url('../../assets/background-image/teacher-taking-online-attendance.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  background-position: right;
} */
/* 
.image-background {
  height: calc(100% - 401px);
  width: 300px;

} */
